
@font-face {
 font-family: 'Quicksand-Medium';
 font-weight: 500;
 font-size: normal;

 src: local('Quicksand-Medium'),
 url(../fonts/AnyConv.com__Quicksand-Medium.woff2) format('woff2'),
 url(../fonts/AnyConv.com__Quicksand-Medium.woff) format('woff');

font-display: swap;
}

@font-face {
 font-family: 'Quicksand-Regular';
 font-weight: 400;
 font-size: normal;

 src: local('Quicksand-Regular'),
  url(../fonts/AnyConv.com__Quicksand-Regular.woff2) format('woff2'),
  url(../fonts/AnyConv.com__Quicksand-Regular.woff) format('woff');

 font-display: swap;
}

@font-face {
 font-family: 'Roboto-Regular';
 font-weight: 400;
 font-size: normal;

 src: local('Roboto-Regular'),
  url(../fonts/AnyConv.com__Roboto-Regular.woff2) format('woff2'),
  url(../fonts/AnyConv.com__Roboto-Regular.woff) format('woff');

 font-display: swap;
}

@font-face {
 font-family: 'Roboto-Bold';
 font-weight: 700;
 font-size: normal;

 src: local('Roboto-Bold'),
  url(../fonts/AnyConv.com__Roboto-Bold.woff2) format('woff2'),
  url(../fonts/AnyConv.com__Roboto-Bold.woff) format('woff');

 font-display: swap;
}