@import 'vars';
@import 'fonts';
@import 'libs';
@import 'reset';
@import 'global';
@import 'media';


.header{
 padding: 40px 0;

 &_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.menu{

 &_list{
  display: flex;
 }

&_list-item + .menu_list-item{
 padding-left: 35px;
}

&_list-link{
 color: $title;
 transition: all .3s;
 padding:0px 2px 2px;
 @extend %roboto-400;
 &:hover{
  color: $accent;
  border-bottom: 1px solid $accent;
  padding: 0px 2px 2px;
  @extend %roboto-700;
 }
}

&_list-link--active {
 color: $accent;
 border-bottom: 1px solid $accent;
}
}
}


.user-nav{

 &_link{
  position: relative;
 }

 &_link + .user-nav_link{
  // display: flex;
  padding-left: 18px;
 }

 &_num{
  width: 20px;
  height: 20px;
  background-color: $accent;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  right: -8px;
  top: -14px;
  text-align: center;
 }
}



footer{
 background-color: $bg;
}

.footer-top{
 padding: 70px 0 40px;
 border-bottom: 1px solid #cecece;
 display: flex;
 // justify-content: space-between;
 &_contact{
  width: 250px;
  margin-right: 50px;
 }

 &_nav{
  width: 170px;
  margin-right: 30px;
 }

 &_item-form{
  max-width: 470px;
 }

 &_logo{
  margin-bottom: 25px;
  display: block;
 }

 &_address,
 &_email,
 &_phone{
  margin-bottom: 10px;
  display: block;
 }

 &_social-list{
  display: flex;
  margin-top: 30px;
 }

 &_social-item + .footer-top_social-item{
  padding-left: 20px;
 }

 &_social-link{
  path{
   fill: $default;
  }
  &:hover{
   path{
    fill: $accent;
   }
  }

  
 }
 
 &_title {
  font-size: 22px;
  margin-bottom: 40px;
  color: $title;
  @extend %roboto-400;
  line-height: 1;
 }

 &_list-link{
  margin-bottom: 10px;
  display: block;
 }

 &_text{
  margin-bottom: 25px;
 }

 &_form-input{
  background-color: #fff;
  border: none;
  padding: 12px 10px 12px 15px;
  max-width: 300px;
  width: 100%;
  box-shadow: 0px 7px 20px 0px rgba(192,192,192,0.3);
  &::placeholder{
   color: $default;
   font-size: 16px;
   
  }
  
  
 }

 &_form-btn {
  border: none;
  @extend %btn;
  cursor: pointer;
 }

}

.footer-bottom{
 display: flex;
 justify-content: space-between;
 align-items: center;
 height: 75px;
 font-size: 12px;

 &_accept-img{
  margin-left: 25px;
  vertical-align: middle;
  display: inline;
 }
}



.top-slider{
 background-image: url('../images/abstract__shape.png');
 background-repeat: no-repeat;
 background-size: cover;
 background-color: $bg;
 padding-top: 65px;
 &_container{
  max-width: 1560px;
 }
 &_content{
  padding-left: 175px;
  padding-top: 125px;
 }
 &_item{
  display: flex !important;
  justify-content: space-between;
 }
 &_title{
  max-width: 670px;
  font-size: 58px;
  line-height: 68px;
  color: $title;
  @extend %roboto-700;
  margin-bottom: 35px;
 }
 &_text{
  width: 470px;
  margin-bottom: 55px;
 }
 &_link{
  @extend %btn;
  padding: 14px 36px;

 }
}

.slick-dots{
 display: flex;
 justify-content: center;
 margin-top: -70px;
 li{
  padding: 0 5px;
  button{
   padding: 0;
   font-size: 0;
   background-color: transparent;
   width: 26px;
   height: 26px;
   border-radius: 50%;
   border: 1px solid transparent;
   position: relative;
   &::before{
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $default;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
  }
  &.slick-active {
   button {
   border-color: $accent;
   }
   button::before{
    background-color: $accent;
   }
  }
 }
}

.categories-info{
 padding: 120px 0;
 background-image: url(../images/bgshapes.png);
 background-repeat: no-repeat;
 background-size: contain;
}

.info{
 display: flex;
 justify-content: space-between;
 // min-width: 450px;
 margin-bottom: 100px;
 position: relative;
 &::before,
 &::after{
  content: "";
  position: absolute;
 }
 &::before{
  background-image: url('../images/circle.svg');
  top: -40px;
  left: -40px;
  width: 120px;
  height: 121px;
 }
 &::after{
  background-image: url('../images/rectangle.svg');
  bottom: -22px;
  right: -24px;
  width: 65px;
  height: 52px;
 }
 &_item{
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 60px 30px;
  width: 370px;
  box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
 }
 &_item-title{
  margin: 35px 0 10px;
  color: $title;
  font-size: 22px;
  @extend %roboto-400;
 }
}

.categories{
 &_items{
  display: grid;
  min-height: 635px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1 fr);
  grid-gap: 30px;
 }
 &_item{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 35px;
  padding-left: 40px;
  &:nth-child(1) {
    grid-row: span 2;
    .categories_item-subtitle,
    .categories_link:hover{
     color: #5800e4;
    }
   }
  &:nth-child(2){
   grid-column: span 2;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 0;
   .categories_item-subtitle,
   .categories_link:hover {
    color: $accent;
   }
  }
  &:nth-child(3) { 
   .categories_item-subtitle,
   .categories_link:hover {
    color: #ffb543;
   }
  }
  &:nth-child(4) {
   .categories_item-subtitle,
   .categories_link:hover {
    color: #34c3ff;
   }
  }
 }
 
 &_item-subtitle{
  margin-bottom: 5px;
 }
 &_item-title{
  font-size: 22px;
  color: $title;
  margin-bottom: 16px;
 }
 &_link{
  text-transform: uppercase;
  color: $title;
  @extend %roboto-400;
  transition: all 0.3s;
 }
}